<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('./non_urgent_with_coords.csv')

In [32]:
df.isnull().sum()

Unnamed: 0            0
Unnamed: 0.1          0
Unnamed: 0.1.1        0
cleaned_message       0
urgent_cos_sim        0
non_urgent_cos_sim    0
urgent                0
text                  0
username              0
coordinates           0
lat                   0
long                  0
geometry              0
dtype: int64

In [35]:
df = df.rename(columns={"text": "tweet"})

In [37]:
df = df[['tweet', 'lat', 'long']]

In [38]:
#df = df.sample(n=1034)

In [39]:
df.head()

                                               tweet        lat        long
0  MED - MEDICAL at SE MARTIN LUTHER KING JR BLVD...  39.911977 -121.482999
1  current weather in Corona: smoke, 55°F\n11% hu...  39.660272 -121.627925
2  smoke -> haze\ntemperature down 76°F -> 50°F\n...  39.704594 -121.709105
3  Usually I can see Marin from here. #nofilter #...  39.720710 -121.609988
4  The past couple days have made such HUGE impac...  39.676737 -121.773976

In [40]:
df.to_csv('./non_urgent_with_coords.csv')

In [41]:
df = pd.read_csv('./urgent_with_coords.csv')

In [42]:
df = df.rename(columns={"text": "tweet"})

In [43]:
df = df[['tweet', 'lat', 'long']]

In [44]:
df.to_csv('./urgent_with_coords.csv')